/*
* //////////////////////////////////////////////////
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* C U S T O M   S T Y L E
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
* //////////////////////////////////////////////////
*/

@import 'sections/dashboard';

/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* M A I N
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/

.main-search{
   padding: calc(16px * 10) 80px;
   text-align: center;
   background: linear-gradient($light, darken($light,3));;
   
   h1{
      font-size: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 24px;
      color: dark;
   }
   
   form{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      
      .row:first-child{
         border: 1px solid $dark;
         border-radius: 30px;
         padding: 24px 0;
      }
      
      .row{
         width: 100%;
         
         [class^=col-]:nth-child(2){
            border-right: 1px solid $dark;
            border-left: 1px solid $dark;
         }
         
         .form-control{
            text-align: center;
            background: none;
            border: none;
         }
      }
      button{
         margin-top: 24px;
         
         i{
            font-size: 14px;
            margin-right: 4px;
         }
      }
   }
}

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MEDIA QUERY MAIN SEARCH
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

@media screen and (max-width: 768px){

   .main-search{
   
      padding: calc(16px * 2) 80px;
      
      form{
         
         .row{

            .form-control{
               padding: 32px 0;
            }
            
            [class^=col-]:nth-child(2){
               
               border-right: none;
               border-left: none;
               
               .form-control{
                  border-top: 1px solid lighten($dark,50);
                  border-bottom: 1px solid lighten($dark,50);
                  border-radius: 0;
               }

            }
            
         }
         
      }
   }

}

/*
* END MEDIA QUERY MAIN SEARCH
*/

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* DATEPICKER
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.daterangepicker td.in-range{
   background-color: lightgray!important;
}
.daterangepicker td.active{
   background-color: $dark!important;
}
.daterangepicker td.active:hover{
   background-color: darkest($dark,10)!important;
}

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ADS
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.ads{
   padding: calc(16px * 4) 0;
   .card{
      margin-bottom: 32px;
      .card-footer{
         display: flex;
         justify-content: space-between;
         align-items: center;
         .text-muted{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 24px;
            width: 100px;
         }
      }
   }
}

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* REGISTERED APARTMENTS INDEX
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.add-apartment{
   a, a:link, a:visited, a:active, a:focus{
      text-decoration: none;
      font-variant: small-caps;
      font-weight: 700;
      letter-spacing: 1.5px;
      color: initial;
      font-size: 1.5rem;
      span{
         border-bottom: 1px solid lighten($dark, 50);
         padding-bottom: 2.5px;
      }
   }
}
.dash{
   &:not(:last-child){
      margin-bottom: 16px;
   }
   &.card{
      display: flex;
      flex-flow: row wrap;
      .card-image{
         flex: 1;
         img{
            border-radius: 0;
         }
      }
      .card-body{
         flex: 1;
         padding: 3.25rem;
         display: flex;
         flex-flow: column wrap;
         justify-content: space-between;
         word-wrap: break-word;
         .card-title, .card-text{
            text-overflow: ellipsis;
         }
      }
      .card-dash-buttons{
         display: flex;
         align-items: flex-end;
         a, form{
            margin-right: 8px;
         }
      
      }
   }
}

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* REGISTERED APARTMENTS SHOW
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.layout-apartment{
   display: flex;
   .main-content{
      padding-right: 32px;
      margin-right: 32px;
      border-right: 1px solid lighten($dark,50);

      [class*="title"]{
         padding: 8px;
         background: lighten($dark,60);
         margin: 16px 0;
      }
      .apartment-desc-text{
         padding-bottom: 24px;
         margin-bottom: 32px;
      }
   }

   .apartment-features{
      .apartment-features-list{
         span{
            margin-right: 32px;
            i{
               margin-right: 4px;
               &.fas.fa-parking{
                  font-size: 16px;
               }
               &.fas.fa-wifi{
                  position: relative;
                  bottom: 1px;
                  font-size: 14px;
               }
            }
         }
      }
   }
}

