/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* T Y P O G R A P H Y
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* MIXINS
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

@mixin text-contrast($n) {
   $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
   $light-color: round((red(#FFFFFF) * 299) + (green(#FFFFFF) * 587) + (blue(#FFFFFF) * 114) / 1000);
   
   @if abs($color-brightness) < ($light-color/2){
      color: white;
   }
   
   @else {
      color: $text-color;
   }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Headings
@for $i from 1 through 6 {
   h#{$i} {
      color: $primaryDark;
   }
}

// Apartment show

.main-content.apartment-show{
   [class*="title"]:not(.apartment-title){
      padding-left: 4px;
      @include text-contrast($primaryLight);
      border-bottom: 2px solid $primary;
      margin: 16px 0 32px;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding-bottom: 6px;
      position: relative;

      &::after{
         content: '';
         display: block;
         position: absolute;
         top: calc(100% - 2px);
         left: 0;
         width: 33.33%;
         height: 2px;
         background: $primary;
      }
   }

}