/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* C A R O U S E L   S E A R C H
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/

.carousel-search{
   position: relative;
   background: gray;
   
   .carousel-inner .carousel-item > img{
      filter: brightness(50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

}