/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* D A S H B O A R D
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/

.dashboard {

   .dashboard-header {

      padding: 16px;
      margin-bottom: 16px;
      color: $dark;
      background: lightgrey;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;

      .title, p {
         padding: 0;
         margin: 0;
      }

   } // dashboard-header
   
   .dashboard-content {

      width: 100%;
      margin-bottom: 24px;
      display: flex;
      border-radius: 8px;
      color: $primary;
      background: lighten(lightgrey,10);
      border-radius: 8px;
      transition: all .4s;

      &:hover {
         background: $dark;
         a { color: $white; }
      }
      
      .area-link {

         width: 100%;
         height: 100%;
         text-decoration: none;
         color: $dark;
         
         .area {
            width: 100%;
            padding: 16px;
            text-transform: uppercase;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            
            .title {
               margin: 12px 0;
            }
         
         } // area
      }

   } // dashboard-content

} // dashboard