/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* FEATURED ADS IN INDEX
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.ads{
   padding: calc(16px * 4) 0;

   a:hover{ color: $primary; }
   
   .card{
      margin-bottom: 32px;
      .card-body{
         min-height: 120px;
         display: flex;
         flex-flow: column wrap;
         justify-content: space-between;
      }
      .card-footer{
         display: flex;
         justify-content: space-between;
         align-items: center;
         .text-muted{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 24px;
            width: 100px;
         }
      }
   }
}