/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* FEATURED ADS IN INDEX
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.ads{
   padding: calc(16px * 4) 0;
   .card{
      margin-bottom: 32px;
      .card-footer{
         display: flex;
         justify-content: space-between;
         align-items: center;
         .text-muted{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 24px;
            width: 100px;
         }
      }
   }
}